.footer {
    background-color: #65aee9; 
    font-weight: bold; 
    padding: 16px 0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-text {
    color: #000000; 
  }
  